In [4]:
# Can create a tuple with mixed types
t = (1,2,3)

In [2]:
# Check len just like a list
len(t)

3

In [5]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [6]:
# Use indexing just like we did in lists
t[0]

'one'

In [7]:
# Slicing just like a list
t[-1]

2

In [8]:
# Use .index to enter a value and return the index
t.index('one')

0

In [9]:
# Use .count to count the number of times a value appears
t.count('one')

1

In [ ]:
x = set()

In [ ]:
# We add to sets with the add() method
x.add(1)

In [ ]:
#Show
x

In [ ]:
# Add a different element
x.add(2)

In [ ]:
#Show
x

In [ ]:
# Try to add the same element
x.add(1)

In [ ]:
#Show
x

In [ ]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]

In [ ]:
# Cast as set to get unique values
set(l)

In [15]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [16]:
# Call values by their key
my_dict['key2']

'value2'

In [17]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [18]:
#Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [19]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [20]:
#Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

In [21]:
my_dict['key1']

123

In [22]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [23]:
#Check
my_dict['key1']

0

In [24]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

-123

In [25]:
# Create a new dictionary
d = {}

In [27]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [28]:
# Can do this with any object
d['answer'] = 42

In [29]:
#Show
d

{'animal': 'Dog', 'answer': 42}

In [30]:
# Dictionary nested inside a dictionary nested in side a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [31]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

In [32]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [33]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [34]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [35]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [36]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [38]:
def name_of_function(arg1,arg2):
    
    '''
    This is where the function's Document String (doc-string) goes
    '''
    # Do stuff here
    #return desired result

In [39]:
def say_hello():
    print('hello')

In [40]:
say_hello()

hello

In [41]:
def greeting(name):
    print('Hello %s' %name)
    print('how are you doing %s'%name)

In [42]:
greeting('Jose')

Hello Jose
how are you doing Jose

In [44]:
def add_num(num1,num2):
    return num1+num2

In [48]:
add_num(4,5)

9

In [50]:
# Can also save as variable due to return
result = add_num(4,5)

In [51]:
print(result)

9

In [52]:
print(add_num('one\t','two'))

one	two

In [53]:
def is_prime(num):
    '''
    Naive method of checking for primes. 
    '''
    for n in range(2,num):
        if num % n == 0:
            print('not prime')
            break
    else: # If never mod zero, then prime
        print('prime')

In [54]:
is_prime(11)

prime

In [55]:
import math

def is_prime(num):
    '''
    A Better method of checking for primes. 
    '''
    if num % 2 == 0 and num > 2: 
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

In [56]:
is_prime(11)

True

In [57]:
# Generator function for the cube of numbers (power of 3)
def gencubes(n):
    for num in range(n):
        yield num**3

In [58]:
for x in gencubes(6):
    print(x)

0
1
8
27
64
125

In [59]:
def genfibon(n):
    '''
    Generate a fibonacci sequence up to n
    '''
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b,a+b

In [60]:
for num in genfibon(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [61]:
def fibon(n):
    a = 1
    b = 1
    output = []
    
    for i in range(n):
        output.append(a)
        a,b = b,a+b
        
    return output

In [62]:
fibon(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [63]:
print(list(range(3)))

[0, 1, 2]

In [64]:
def simple_gen():
    for x in range(3):
        yield x

In [65]:
# Assign simple_gen 
g = simple_gen()

In [66]:
print(next(g))

0

In [67]:
print(next(g))

1

In [68]:
print(next(g))

2

In [70]:
s = 'hello'

#Iterate over string
for i in s:
    print(i)

h
e
l
l
o

In [72]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
    
temp = [0, 22.5, 40,100]

In [73]:
F_temps = list(map(fahrenheit, temp))

#Show
F_temps

[32.0, 72.5, 104.0, 212.0]

In [74]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

list(map(lambda x,y:x+y, a,b))

[6, 8, 10, 12]

In [ ]:
# Now all three lists
list(map(lambda x,y,z:x+y+z, a,b,c))

In [75]:
from functools import reduce
lst =[47,11,42,13]
reduce(lambda x,y: x+y,lst)

113

In [ ]:
from IPython.display import Image
Image('http://www.python-course.eu/images/reduce_diagram.png')

In [ ]:
#Find the maximum of a sequence (This already exists as max())
max_find = lambda a,b: a if (a > b) else b

In [76]:
#Find max
print(lst)
reduce(lambda a,b: a if (a > b) else b,lst)

[47, 11, 42, 13]

47

In [77]:
#First let's make a function
def even_check(num):
    if num%2 ==0:
        return True

In [78]:
lst =range(20)
print(list(lst))

list(filter(even_check,lst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [79]:
list(filter(lambda x: x%2==0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]