In [ ]:
class Person:
    pass

john_doe = Person()
john_doe.name = "Alec"
john_doe.surname = "Baldwin"
john_doe.year_of_birth = 1958


print(john_doe)
print("%s %s was born in %d." %
      (john_doe.name, john_doe.surname, john_doe.year_of_birth))

In [3]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [2]:
alec = Person("Alec", "Baldwin", 1958)
print(alec)
print("%s %s was born in %d"% (alec.name,alec.surname,alec.year_of_birth))

<__main__.Person object at 0x7f0d734247b8>
Alec Baldwin was born in 1958

In [4]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." % (self.name, self.surname, self.year_of_birth)
    
alec = Person("Alec", "Baldwin", 1958)
print(alec)
print(alec.age(2019))

Alec Baldwin was born in 1958 .
61

In [5]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)
print(type(charlie))
print(isinstance(charlie, Person))
print(isinstance(charlie, object))

Charlie Brown was born in 2006 .
<class '__main__.Student'>
True
True

In [6]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)

Charlie Brown was born in 2006 . And has ID: 1

In [7]:
def summer(a, b):
    return a + b

print(summer(1, 1))
print(summer(["a", "b", "c"], ["d", "e"]))
print(summer("abra", "cadabra"))

2
['a', 'b', 'c', 'd', 'e']
abracadabra

In [8]:
%%writefile superman.txt
Hello, this is a quick superman test file

Writing superman.txt

In [ ]:
# Add the second argument to the function, 'w' which stands for write
my_file = open('superman.txt','w+')

In [ ]:
# Write to the file
my_file.write('This is a new line')

In [ ]:
# Seek to the start of file (index 0)
my_file.seek(0)

In [ ]:
# Read the file
my_file.read()

In [ ]:
%%writefile test.txt
First Line
Second Line

In [ ]:
for line in open('test.txt'):
    print(line)

In [ ]:
from io import StringIO

In [ ]:
# Arbitrary String
message = 'This is just a normal string.'

In [ ]:
# Use StringIO method to set as file object
f = StringIO(message)

In [ ]:
f.read()

In [ ]:
f.write(' Second line written to file like object')

In [13]:
# Reset cursor just like you would a file
f.seek(0)

NameError: ignored

In [ ]:
# Reset cursor just like you would a file
f.seek(0)

In [ ]:
# Read again
f.read()

In [ ]:
[]